
.comment-list{
  li{
    .writer{
      >span{

      }
      .icon{

      }
      .name{

      }
      .date{
        display: block;
        float: right;

      }
      .location{
        display: block;
      }

      .data{


      }

    }
  }
}

