.list-item-1{
  &.has-right{
    a{
      padding-right: 100px;
    }
  }
  a{
    line-height: 1.4;

    span{
      padding: 0 5px;
    }
  }
  .title{
    font-size: 24px;
    font-weight: bold;

  }
  .text{
    font-size: 12px;


  }
  .right{
    position: absolute;
    right: 0;
    top: 0;
    min-width: 100px;
    height: 100%;
    font-size: 12px;
    line-height: 40px;
    vertical-align: middle;
  }
}