.list-item-1{
  &.has-right{
    a{
      padding-right: 100px;
    }
    .right{
      position: absolute;
      right: 0;
      top: 0;
      min-width: 100px;
      height: 100%;
      font-size: 12px;
      line-height: 40px;
      vertical-align: middle;
    }
  }
  a{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    span{
      padding: 0 5px;
    }
  }
  .title{
    font-size: 15px;
    font-weight: bold;

  }
  .text{
    font-size: 12px;


  }
}